<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('dontTouch/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('dontTouch/css/style2.css') }}">
        {% endblock %}


        <link rel="icon" type="image/x-icon" href="{{ asset('dontTouch/pictures/favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        <audio loop autoplay>
            <source src="{{ asset('dontTouch/sound/Jingle-bells-Version2.mp3') }}" type="audio/mp3">
        </audio>
    </body>
</html>
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="{{ asset('dontTouch/js/main.js') }}"></script>
{% endblock %}