{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <h1>Gifts list</h1>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for gift in gifts %}
                <tr>
                    <td><a href="{{ path('gift_show', { 'id': gift.id }) }}">{{ gift.id }}</a></td>
                    <td>{{ gift.giftName }}</td>
                    <td><img src="{{ gift.giftPictureUrl }}" alt="gift pic" class="gift-pic"></td>
                    <td>{{ gift.giftDescription }}</td>
                    <td>{{ gift.giftPrice }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('gift_show', { 'id': gift.id }) }}" class="btn btn-primary">Voir</a>
                            </li>
                            <li>
                                <a href="{{ path('gift_edit', { 'id': gift.id }) }}"
                                   class="btn btn-warning">Modifier</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('gift_new') }}" class="btn btn-success">Créer un nouveau cadeau</a>
            </li>
        </ul>

    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('yesTouch/css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/r-2.2.0/datatables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#example').DataTable(
                {}
            );
        });
    </script>
{% endblock %}