{% extends 'base.html.twig' %}

{% block body %}
    <h1 align="center">Gifts list</h1>

    <div class="table" align="center">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Pictures</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for gift in gifts %}
                <tr>
                    <td><a href="{{ path('gift_show', { 'id': gift.id }) }}">{{ gift.id }}</a></td>
                    <td>{{ gift.giftName }}</td>
                    <td>{{ gift.giftPictureURL }}</td>
                    <td>{{ gift.giftDescription }}</td>
                    <td>{{ gift.giftPrice }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('gift_show', { 'id': gift.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('gift_edit', { 'id': gift.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


            <a href="{{ path('gift_new') }}">Create a new gift</a>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' }}" />
    <link rel="stylesheet" href="{{ 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' }}"
    <link rel="stylesheet" href="{{ asset('dontTouch/css/stylegift.css') }}">
{% endblock %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="{{ asset('dontTouch/js/main.js') }}"></script>
{% endblock %}
