{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('public/css/giftstyle.css') }}" />
{% endblock %}

{% block body %}
<div class="container"id="box">
    <div class="row row-titre-cat">
        <hr class="col-md-3">
        <h1 class="col-md-6 col-xs-12 categorie">Liste des cadeaux pour Valériane</h1>
        <hr class="col-md-3">
    </div>

    <div class="row row-produits">
        <a href="{{ path('gift_new') }}" class="ajouter btn btn-primary btn-xl text-uppercase">Ajouter un cadeau à la liste</a>
    </div>
    {#<table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du cadeau</th>
                <h3>Pour te donner une idée en images...</h3>
                <th>Un peu plus de détails</th>
                <h3>Prix estimé</h3>
                <th>Actions</th>
            </tr>
        </thead>#}
        {#<tbody>#}
        <div class="row row-produits">
        {% for gift in gifts %}
            <div class="col-md-6">
                            <div>
                            <a href="{{ path('gift_show', { 'id': gift.id }) }}" class="numero">{{ gift.id }}</a>
                            </div>
                <div class="row name">

                    <div class="col-md-12">
                        <h3 class="giftname">{{ gift.giftName }}</h3>
                    </div>
                </div>
                <div>
                    <h4 class="idee">Pour te donner une idée en images...</h4>
                    <img src="{{ gift.giftPictureUrl }}" alt="{{ gift.giftName }}" class="vignette_produit">
                </div>
                <div class="col-md-12">
                    <div>
                        <h4>Un peu plus de détails</h4>
                        <p>{{ gift.giftDescription }}</p>
                    </div>
                    <div>
                        <h4>Prix estimé</h4>
                        <p>{{ gift.giftPrice }}</p>
                    </div>


                <div>
                    <a href="{{ path('gift_show', { 'id': gift.id }) }}" class="btn btn-primary text-uppercase">Voir plus</a>
                    <a href="{{ path('gift_edit', { 'id': gift.id }) }}" class="btn btn-primary text-uppercase">Modifier</a>

                    </ul>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>
       {# </tbody>
    </table>#}


</div>
{% endblock %}
