{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <h1>Créer un cadeau</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create"/>
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('gift_index') }}">Retour à la liste</a>
            </li>
        </ul>

    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('yesTouch/css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/r-2.2.0/datatables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#example').DataTable(
                {}
            );
        });
    </script>
{% endblock %}
