{% extends 'base.html.twig' %}

{% block body %}

    <ul>
        <li>
            <a href="{{ path('gift_index') }}">Back to the list</a>
        </li>
    </ul>

    <div class="container container_contact">
        <div class="row row_contact">
            <div class="col-md-offset-3 col-md-6 col_contact">
                <h2 class="section_title">Ma liste au Père Noël</h2>

                <p>Ho ho ho ! Si tu as été sage, envoie-moi ta liste !</p>

                <form action="" method="post">
                    <div>
                        <label for="giftName">Le nom de ton cadeau</label></br>
                        <input required type="text" id="giftName" name="giftName" value="{% if errors.giftName is defined %} {{ errors.giftName }} {% endif %}">
                    </div>

                    <div>
                        <label for="giftPictureUrl">Une photo du cadeau, ou ton plus beau dessin (JPG, PNG, GIF)</label></br>
                        <input required type="file" id="giftPictureUrl" name="giftPictureUrl" value="{% if errors.giftPictureUrl is defined %} {{ errors.giftPictureUrl }} {% endif %}">
                    </div>

                    <div>
                        <label for="giftDescription">Une description de ton cadeau, ce que tu voudrais faire avec</label></br>
                        <textarea required type="text" id="giftDescription" name="gitfDescription" value="{% if errors.giftDescription is defined %} {{ errors.giftDescription }} {% endif %}"></textarea>
                    </div>

                    <div>
                        <label for="giftPrice">Le prix de ton cadeau</label></br>
                        <input required type="text" id="giftPrice" name="giftPrice" value="{% if errors.giftPrice is defined %} {{ errors.giftPrice}} {% endif %}">
                    </div>

                    <button type="submit" class="btn btn-danger">Envoyer mon souhait !</button>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
